In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
response = requests.get("http://www.espncricinfo.com/rankings/content/page/211271.html")
response.status_code

200

In [4]:
content = response.content
# content

In [5]:
# response.json()

In [6]:
parser = BeautifulSoup(content,"html.parser")

In [7]:
parser.find_all("head")[0].title.text

u'ICC Cricket Rankings - Current ICC Rankings for Tests, ODIs, T20 Cricket | ESPNcricinfo.com'

In [8]:
parser.head.title.text

u'ICC Cricket Rankings - Current ICC Rankings for Tests, ODIs, T20 Cricket | ESPNcricinfo.com'

In [9]:
parser.select("head")[0].title.text

u'ICC Cricket Rankings - Current ICC Rankings for Tests, ODIs, T20 Cricket | ESPNcricinfo.com'

In [10]:
parser.select("caption")[1].text

u'30 September 2019'

In [11]:
data = parser.find_all("td", class_ = "left")

In [12]:
parser.find_all("tr")[7].find_all("td")[2].text

u'27'

In [13]:
cric_format = parser.find_all("div", class_ = "ciPhotoContainer")[0].select("h3")
cric_format

[<h3>ICC Test Championship</h3>,
 <h3>ICC ODI Championship</h3>,
 <h3>ICC Twenty20 Rankings</h3>,
 <h3>ICC Women's ODI Team Rankings</h3>,
 <h3>ICC Women's T20 Team Rankings</h3>]

In [14]:
ranking = parser.find_all("table", class_ = "StoryengineTable")
ranking

[<table class="StoryengineTable">\n<caption>15 September 2019</caption>\n<tr class="head">\n<th class="left">Pos</th>\n<th class="left">Team</th>\n<th class="left">Matches</th>\n<th class="left">Points</th>\n<th class="left">Rating</th>\n</tr>\n<tr>\n<td class="left">1</td>\n<td class="left">India</td>\n<td class="left">35</td>\n<td class="left">4027</td>\n<td class="left">115</td>\n</tr>\n<tr>\n<td class="left">2</td>\n<td class="left">New Zealand</td>\n<td class="left">26</td>\n<td class="left">2829</td>\n<td class="left">109</td>\n</tr>\n<tr>\n<td class="left">3</td>\n<td class="left">South Africa</td>\n<td class="left">27</td>\n<td class="left">2917</td>\n<td class="left">108</td>\n</tr>\n<tr>\n<td class="left">4</td>\n<td class="left">England</td>\n<td class="left">42</td>\n<td class="left">4366</td>\n<td class="left">104</td>\n</tr>\n<tr>\n<td class="left">5</td>\n<td class="left">Australia</td>\n<td class="left">33</td>\n<td class="left">3270</td>\n<td class="left">99</td>\n</tr>\n<tr>\n<td class="left">6</td>\n<td class="left">Sri Lanka</td>\n<td class="left">40</td>\n<td class="left">3795</td>\n<td class="left">95</td>\n</tr>\n<tr>\n<td class="left">7</td>\n<td class="left">Pakistan</td>\n<td class="left">27</td>\n<td class="left">2263</td>\n<td class="left">84</td>\n</tr>\n<tr>\n<td class="left">8</td>\n<td class="left">West Indies</td>\n<td class="left">32</td>\n<td class="left">2570</td>\n<td class="left">80</td>\n</tr>\n<tr>\n<td class="left">9</td>\n<td class="left">Bangladesh</td>\n<td class="left">23</td>\n<td class="left">1413</td>\n<td class="left">61</td>\n</tr>\n<tr>\n<td class="left">10</td>\n<td class="left">Afghanistan</td>\n<td class="left">3</td>\n<td class="left">165</td>\n<td class="left">55</td>\n</tr>\n<tr>\n<td class="left">11</td>\n<td class="left">Zimbabwe</td>\n<td class="left">9</td>\n<td class="left">140</td>\n<td class="left">16</td>\n</tr>\n<tr>\n<td class="left">12</td>\n<td class="left">Ireland</td>\n<td class="left">3</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n</table>,
 <table class="StoryengineTable">\n<caption>30 September 2019</caption>\n<tr class="head">\n<th class="left">Pos</th>\n<th class="left">Team</th>\n<th class="left">Matches</th>\n<th class="left">Points</th>\n<th class="left">Rating</th>\n</tr>\n<tr>\n<td class="left">1</td>\n<td class="left">England</td>\n<td class="left">54</td>\n<td class="left">6745</td>\n<td class="left">125</td>\n</tr>\n<tr>\n<td class="left">2</td>\n<td class="left">India</td>\n<td class="left">58</td>\n<td class="left">7071</td>\n<td class="left">122</td>\n</tr>\n<tr>\n<td class="left">3</td>\n<td class="left">New Zealand</td>\n<td class="left">42</td>\n<td class="left">4709</td>\n<td class="left">112</td>\n</tr>\n<tr>\n<td class="left">4</td>\n<td class="left">Australia</td>\n<td class="left">50</td>\n<td class="left">5543</td>\n<td class="left">111</td>\n</tr>\n<tr>\n<td class="left">5</td>\n<td class="left">South Africa</td>\n<td class="left">47</td>\n<td class="left">5193</td>\n<td class="left">110</td>\n</tr>\n<tr>\n<td class="left">6</td>\n<td class="left">Pakistan</td>\n<td class="left">50</td>\n<td class="left">4888</td>\n<td class="left">98</td>\n</tr>\n<tr>\n<td class="left">7</td>\n<td class="left">Bangladesh</td>\n<td class="left">46</td>\n<td class="left">3963</td>\n<td class="left">86</td>\n</tr>\n<tr>\n<td class="left">8</td>\n<td class="left">Sri Lanka</td>\n<td class="left">55</td>\n<td class="left">4472</td>\n<td class="left">81</td>\n</tr>\n<tr>\n<td class="left">9</td>\n<td class="left">West Indies</td>\n<td class="left">48</td>\n<td class="left">3675</td>\n<td class="left">77</td>\n</tr>\n<tr>\n<td class="left">10</td>\n<td class="left">Afghanistan</td>\n<td class="left">40</td>\n<td class="left">2359</td>\n<td class="left">59</td>\n</tr>\n<tr>\n<td class="left">11</td>\n<td class="left">Ireland</td>\n<td class="left">29</td>\n<td class="left">1466</td>\n<td class="left">51</td>\n</tr>\n<tr>\n<td class="left">12</td>\n<td class="left">Zimbabwe</td>\n<td class="left">35</td>\n<td class="left">1538</td>\n<td class="left">44</td>\n</tr>\n<tr>\n<td class="left">13</td>\n<td class="left">Netherlands</td>\n<td class="left">6</td>\n<td class="left">222</td>\n<td class="left">37</td>\n</tr>\n<tr>\n<td class="left">14</td>\n<td class="left">Scotland</td>\n<td class="left">15</td>\n<td class="left">534</td>\n<td class="left">36</td>\n</tr>\n<tr>\n<td class="left">15</td>\n<td class="left">Namibia</td>\n<td class="left">8</td>\n<td class="left">183</td>\n<td class="left">23</td>\n</tr>\n<tr>\n<td class="left">16</td>\n<td class="left">Oman</td>\n<td class="left">8</td>\n<td class="left">174</td>\n<td class="left">22</td>\n</tr>\n<tr>\n<td class="left">17</td>\n<td class="left">Nepal</td>\n<td class="left">8</td>\n<td class="left">152</td>\n<td class="left">19</td>\n</tr>\n<tr>\n<td class="left">18</td>\n<td class="left">USA</td>\n<td class="left">8</td>\n<td class="left">115</td>\n<td class="left">14</td>\n</tr>\n<tr>\n<td class="left">19</td>\n<td class="left">UAE</td>\n<td class="left">15</td>\n<td class="left">144</td>\n<td class="left">10</td>\n</tr>\n<tr>\n<td class="left">20</td>\n<td class="left">PNG</td>\n<td class="left">17</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n</table>,
 <table class="StoryengineTable">\n<caption>30 September 2019</caption>\n<tr class="head">\n<th class="left">Pos</th>\n<th class="left">Team</th>\n<th class="left">Matches</th>\n<th class="left">Points</th>\n<th class="left">Rating</th>\n</tr>\n<tr>\n<td class="left">1</td>\n<td class="left">Pakistan</td>\n<td class="left">26</td>\n<td class="left">7365</td>\n<td class="left">283</td>\n</tr>\n<tr>\n<td class="left">2</td>\n<td class="left">England</td>\n<td class="left">16</td>\n<td class="left">4253</td>\n<td class="left">266</td>\n</tr>\n<tr>\n<td class="left">3</td>\n<td class="left">South Africa</td>\n<td class="left">18</td>\n<td class="left">4720</td>\n<td class="left">262</td>\n</tr>\n<tr>\n<td class="left">4</td>\n<td class="left">India</td>\n<td class="left">33</td>\n<td class="left">8620</td>\n<td class="left">261</td>\n</tr>\n<tr>\n<td class="left">5</td>\n<td class="left">Australia</td>\n<td class="left">21</td>\n<td class="left">5471</td>\n<td class="left">261</td>\n</tr>\n<tr>\n<td class="left">6</td>\n<td class="left">New Zealand</td>\n<td class="left">19</td>\n<td class="left">4784</td>\n<td class="left">252</td>\n</tr>\n<tr>\n<td class="left">7</td>\n<td class="left">Afghanistan</td>\n<td class="left">20</td>\n<td class="left">4696</td>\n<td class="left">235</td>\n</tr>\n<tr>\n<td class="left">8</td>\n<td class="left">Sri Lanka</td>\n<td class="left">21</td>\n<td class="left">4808</td>\n<td class="left">229</td>\n</tr>\n<tr>\n<td class="left">9</td>\n<td class="left">West Indies</td>\n<td class="left">24</td>\n<td class="left">5378</td>\n<td class="left">224</td>\n</tr>\n<tr>\n<td class="left">10</td>\n<td class="left">Bangladesh</td>\n<td class="left">20</td>\n<td class="left">4483</td>\n<td class="left">224</td>\n</tr>\n<tr>\n<td class="left">11</td>\n<td class="left">Nepal</td>\n<td class="left">16</td>\n<td class="left">3168</td>\n<td class="left">198</td>\n</tr>\n<tr>\n<td class="left">12</td>\n<td class="left">Scotland</td>\n<td class="left">15</td>\n<td class="left">2901</td>\n<td class="left">193</td>\n</tr>\n<tr>\n<td class="left">13</td>\n<td class="left">UAE</td>\n<td class="left">18</td>\n<td class="left">3453</td>\n<td class="left">192</td>\n</tr>\n<tr>\n<td class="left">14</td>\n<td class="left">Zimbabwe</td>\n<td class="left">19</td>\n<td class="left">3630</td>\n<td class="left">191</td>\n</tr>\n<tr>\n<td class="left">15</td>\n<td class="left">Ireland</td>\n<td class="left">24</td>\n<td class="left">4455</td>\n<td class="left">186</td>\n</tr>\n<tr>\n<td class="left">16</td>\n<td class="left">Netherlands</td>\n<td class="left">18</td>\n<td class="left">3138</td>\n<td class="left">174</td>\n</tr>\n<tr>\n<td class="left">17</td>\n<td class="left">PNG</td>\n<td class="left">22</td>\n<td class="left">3834</td>\n<td class="left">174</td>\n</tr>\n<tr>\n<td class="left">18</td>\n<td class="left">Oman</td>\n<td class="left">5</td>\n<td class="left">774</td>\n<td class="left">155</td>\n</tr>\n<tr>\n<td class="left">19</td>\n<td class="left">Hong Kong</td>\n<td class="left">8</td>\n<td class="left">1213</td>\n<td class="left">152</td>\n</tr>\n<tr>\n<td class="left">20</td>\n<td class="left">Namibia</td>\n<td class="left">16</td>\n<td class="left">2350</td>\n<td class="left">147</td>\n</tr>\n<tr>\n<td class="left">21</td>\n<td class="left">Singapore</td>\n<td class="left">15</td>\n<td class="left">2049</td>\n<td class="left">137</td>\n</tr>\n<tr>\n<td class="left">22</td>\n<td class="left">Qatar</td>\n<td class="left">18</td>\n<td class="left">2262</td>\n<td class="left">126</td>\n</tr>\n<tr>\n<td class="left">23</td>\n<td class="left">Saudi Arabia</td>\n<td class="left">11</td>\n<td class="left">1331</td>\n<td class="left">121</td>\n</tr>\n<tr>\n<td class="left">24</td>\n<td class="left">Canada</td>\n<td class="left">13</td>\n<td class="left">1568</td>\n<td class="left">121</td>\n</tr>\n<tr>\n<td class="left">25</td>\n<td class="left">Jersey</td>\n<td class="left">16</td>\n<td class="left">1834</td>\n<td class="left">115</td>\n</tr>\n<tr>\n<td class="left">26</td>\n<td class="left">Italy</td>\n<td class="left">12</td>\n<td class="left">1326</td>\n<td class="left">111</td>\n</tr>\n<tr>\n<td class="left">27</td>\n<td class="left">Kuwait</td>\n<td class="left">13</td>\n<td class="left">1354</td>\n<td class="left">104</td>\n</tr>\n<tr>\n<td class="left">28</td>\n<td class="left">Denmark</td>\n<td class="left">14</td>\n<td class="left">1438</td>\n<td class="left">103</td>\n</tr>\n<tr>\n<td class="left">29</td>\n<td class="left">Kenya</td>\n<td class="left">12</td>\n<td class="left">1229</td>\n<td class="left">102</td>\n</tr>\n<tr>\n<td class="left">30</td>\n<td class="left">Bermuda</td>\n<td class="left">7</td>\n<td class="left">716</td>\n<td class="left">102</td>\n</tr>\n<tr>\n<td class="left">31</td>\n<td class="left">Germany</td>\n<td class="left">18</td>\n<td class="left">1527</td>\n<td class="left">85</td>\n</tr>\n<tr>\n<td class="left">32</td>\n<td class="left">USA</td>\n<td class="left">15</td>\n<td class="left">1208</td>\n<td class="left">81</td>\n</tr>\n<tr>\n<td class="left">33</td>\n<td class="left">Botswana</td>\n<td class="left">19</td>\n<td class="left">1494</td>\n<td class="left">79</td>\n</tr>\n<tr>\n<td class="left">34</td>\n<td class="left">Ghana</td>\n<td class="left">10</td>\n<td class="left">773</td>\n<td class="left">77</td>\n</tr>\n<tr>\n<td class="left">35</td>\n<td class="left">Uganda</td>\n<td class="left">14</td>\n<td class="left">1069</td>\n<td class="left">76</td>\n</tr>\n<tr>\n<td class="left">36</td>\n<td class="left">Malaysia</td>\n<td class="left">22</td>\n<td class="left">1607</td>\n<td class="left">73</td>\n</tr>\n<tr>\n<td class="left">37</td>\n<td class="left">Norway</td>\n<td class="left">10</td>\n<td class="left">709</td>\n<td class="left">87</td>\n</tr>\n<tr>\n<td class="left">38</td>\n<td class="left">Nigeria</td>\n<td class="left">10</td>\n<td class="left">708</td>\n<td class="left">71</td>\n</tr>\n<tr>\n<td class="left">39</td>\n<td class="left">Austria</td>\n<td class="left">11</td>\n<td class="left">778</td>\n<td class="left">71</td>\n</tr>\n<tr>\n<td class="left">40</td>\n<td class="left">Guernsey</td>\n<td class="left">16</td>\n<td class="left">1127</td>\n<td class="left">70</td>\n</tr>\n<tr>\n<td class="left">41</td>\n<td class="left">Romania</td>\n<td class="left">6</td>\n<td class="left">419</td>\n<td class="left">70</td>\n</tr>\n<tr>\n<td class="left">42</td>\n<td class="left">Sweden</td>\n<td class="left">8</td>\n<td class="left">465</td>\n<td class="left">58</td>\n</tr>\n<tr>\n<td class="left">43</td>\n<td class="left">Tanzania</td>\n<td class="left">6</td>\n<td class="left">334</td>\n<td class="left">56</td>\n</tr>\n<tr>\n<td class="left">44</td>\n<td class="left">Cayman Islands</td>\n<td class="left">8</td>\n<td class="left">430</td>\n<td class="left">54</td>\n</tr>\n<tr>\n<td class="left">45</td>\n<td class="left">Spain</td>\n<td class="left">12</td>\n<td class="left">602</td>\n<td class="left">50</td>\n</tr>\n<tr>\n<td class="left">46</td>\n<td class="left">Philippines</td>\n<td class="left">9</td>\n<td class="left">433</td>\n<td class="left">48</td>\n</tr>\n<tr>\n<td class="left">47</td>\n<td class="left">France</td>\n<td class="left">6</td>\n<td class="left">267</td>\n<td class="left">45</td>\n</tr>\n<tr>\n<td class="left">48</td>\n<td class="left">Belize</td>\n<td class="left">9</td>\n<td class="left">377</td>\n<td class="left">42</td>\n</tr>\n<tr>\n<td class="left">49</td>\n<td class="left">Luxembourg</td>\n<td class="left">10</td>\n<td class="left">407</td>\n<td class="left">41</td>\n</tr>\n<tr>\n<td class="left">50</td>\n<td class="left">Peru</td>\n<td class="left">9</td>\n<td class="left">356</td>\n<td class="left">40</td>\n</tr>\n<tr>\n<td class="left">51</td>\n<td class="left">Bahrain</td>\n<td class="left">7</td>\n<td class="left">261</td>\n<td class="left">37</td>\n</tr>\n<tr>\n<td class="left">52</td>\n<td class="left">Vanuatu</td>\n<td class="left">16</td>\n<td class="left">590</td>\n<td class="left">37</td>\n</tr>\n<tr>\n<td class="left">53</td>\n<td class="left">Mexico</td>\n<td class="left">12</td>\n<td class="left">426</td>\n<td class="left">36</td>\n</tr>\n<tr>\n<td class="left">54</td>\n<td class="left">Fiji</td>\n<td class="left">6</td>\n<td class="left">210</td>\n<td class="left">35</td>\n</tr>\n<tr>\n<td class="left">55</td>\n<td class="left">Panama</td>\n<td class="left">9</td>\n<td class="left">291</td>\n<td class="left">32</td>\n</tr>\n<tr>\n<td class="left">56</td>\n<td class="left">Belgium</td>\n<td class="left">9</td>\n<td class="left">290</td>\n<td class="left">32</td>\n</tr>\n<tr>\n<td class="left">57</td>\n<td class="left">Samoa</td>\n<td class="left">10</td>\n<td class="left">318</td>\n<td class="left">32</td>\n</tr>\n<tr>\n<td class="left">58</td>\n<td class="left">Japan</td>\n<td class="left">10</td>\n<td class="left">317</td>\n<td class="left">32</td>\n</tr>\n<tr>\n<td class="left">59</td>\n<td class="left">Costa Rica</td>\n<td class="left">8</td>\n<td class="left">252</td>\n<td class="left">32</td>\n</tr>\n<tr>\n<td class="left">60</td>\n<td class="left">Argentina</td>\n<td class="left">12</td>\n<td class="left">370</td>\n<td class="left">31</td>\n</tr>\n<tr>\n<td class="left">61</td>\n<td class="left">Hungary</td>\n<td class="left">6</td>\n<td class="left">180</td>\n<td class="left">30</td>\n</tr>\n<tr>\n<td class="left">62</td>\n<td class="left">Mozambique</td>\n<td class="left">12</td>\n<td class="left">352</td>\n<td class="left">29</td>\n</tr>\n<tr>\n<td class="left">63</td>\n<td class="left">Thailand</td>\n<td class="left">14</td>\n<td class="left">369</td>\n<td class="left">26</td>\n</tr>\n<tr>\n<td class="left">64</td>\n<td class="left">Chile</td>\n<td class="left">10</td>\n<td class="left">249</td>\n<td class="left">25</td>\n</tr>\n<tr>\n<td class="left">65</td>\n<td class="left">Malawi</td>\n<td class="left">12</td>\n<td class="left">297</td>\n<td class="left">25</td>\n</tr>\n<tr>\n<td class="left">66</td>\n<td class="left">Israel</td>\n<td class="left">7</td>\n<td class="left">173</td>\n<td class="left">25</td>\n</tr>\n<tr>\n<td class="left">67</td>\n<td class="left">Czech Republic</td>\n<td class="left">15</td>\n<td class="left">355</td>\n<td class="left">24</td>\n</tr>\n<tr>\n<td class="left">68</td>\n<td class="left">Finland</td>\n<td class="left">13</td>\n<td class="left">296</td>\n<td class="left">23</td>\n</tr>\n<tr>\n<td class="left">69</td>\n<td class="left">Bhutan</td>\n<td class="left">8</td>\n<td class="left">180</td>\n<td class="left">23</td>\n</tr>\n<tr>\n<td class="left">70</td>\n<td class="left">South Korea</td>\n<td class="left">10</td>\n<td class="left">217</td>\n<td class="left">22</td>\n</tr>\n<tr>\n<td class="left">71</td>\n<td class="left">Isle of Man</td>\n<td class="left">7</td>\n<td class="left">149</td>\n<td class="left">21</td>\n</tr>\n<tr>\n<td class="left">72</td>\n<td class="left">Malta</td>\n<td class="left">11</td>\n<td class="left">158</td>\n<td class="left">14</td>\n</tr>\n<tr>\n<td class="left">73</td>\n<td class="left">Bulgaria</td>\n<td class="left">5</td>\n<td class="left">68</td>\n<td class="left">14</td>\n</tr>\n<tr>\n<td class="left">74</td>\n<td class="left">Sierra Leone</td>\n<td class="left">5</td>\n<td class="left">61</td>\n<td class="left">12</td>\n</tr>\n<tr>\n<td class="left">75</td>\n<td class="left">Brazil</td>\n<td class="left">9</td>\n<td class="left">108</td>\n<td class="left">12</td>\n</tr>\n<tr>\n<td class="left">76</td>\n<td class="left">Maldives</td>\n<td class="left">11</td>\n<td class="left">114</td>\n<td class="left">10</td>\n</tr>\n<tr>\n<td class="left">77</td>\n<td class="left">St Helena</td>\n<td class="left">12</td>\n<td class="left">109</td>\n<td class="left">9</td>\n</tr>\n<tr>\n<td class="left">78</td>\n<td class="left">Gibraltar</td>\n<td class="left">8</td>\n<td class="left">35</td>\n<td class="left">4</td>\n</tr>\n<tr>\n<td class="left">79</td>\n<td class="left">Myanmar</td>\n<td class="left">9</td>\n<td class="left">23</td>\n<td class="left">3</td>\n</tr>\n<tr>\n<td class="left">80</td>\n<td class="left">Indonesia</td>\n<td class="left">7</td>\n<td class="left">3</td>\n<td class="left">0</td>\n</tr>\n<tr>\n<td class="left">81</td>\n<td class="left">China</td>\n<td class="left">11</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n<tr>\n<td class="left">82</td>\n<td class="left">Gambia</td>\n<td class="left">6</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n<tr>\n<td class="left">83</td>\n<td class="left">Swaziland</td>\n<td class="left">6</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n<tr>\n<td class="left">84</td>\n<td class="left">Rwanda</td>\n<td class="left">6</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n<tr>\n<td class="left">85</td>\n<td class="left">Lesotho</td>\n<td class="left">6</td>\n<td class="left">0</td>\n<td class="left">0</td>\n</tr>\n</table>,

In [140]:
for i, value in enumerate(ranking):
    print(cric_format[i].text)
    print()
    print(value.caption.text)
    tr = value.find_all("tr")
    j = 0
    for t in tr:
        if j == 0:
            search = "th"
        else:
            search = "td"
        for y in t.find_all(search):
            print("{:20}".format(y.text), end = "")
        j+=1
        print()
    print()

ICC Test Championship

15 September 2019
Pos                 Team                Matches             Points              Rating
1                   India               35                  4027                115
2                   New Zealand         26                  2829                109
3                   South Africa        27                  2917                108
4                   England             42                  4366                104
5                   Australia           33                  3270                99
6                   Sri Lanka           40                  3795                95
7                   Pakistan            27                  2263                84
8                   West Indies         32                  2570                80
9                   Bangladesh          23                  1413                61
10                  Afghanistan         3                   165                 55
11                  Zimbabwe            9                   140                 16
12                  Ireland             3                   0                   0

ICC ODI Championship

30 September 2019
Pos                 Team                Matches             Points              Rating
1                   England             54                  6745                125
2                   India               58                  7071                122
3                   New Zealand         42                  4709                112
4                   Australia           50                  5543                111
5                   South Africa        47                  5193                110
6                   Pakistan            50                  4888                98
7                   Bangladesh          46                  3963                86
8                   Sri Lanka           55                  4472                81
9                   West Indies         48                  3675                77
10                  Afghanistan         40                  2359                59
11                  Ireland             29                  1466                51
12                  Zimbabwe            35                  1538                44
13                  Netherlands         6                   222                 37
14                  Scotland            15                  534                 36
15                  Namibia             8                   183                 23
16                  Oman                8                   174                 22
17                  Nepal               8                   152                 19
18                  USA                 8                   115                 14
19                  UAE                 15                  144                 10
20                  PNG                 17                  0                   0

ICC Twenty20 Rankings

30 September 2019
Pos                 Team                Matches             Points              Rating
1                   Pakistan            26                  7365                283
2                   England             16                  4253                266
3                   South Africa        18                  4720                262
4                   India               33                  8620                261
5                   Australia           21                  5471                261
6                   New Zealand         19                  4784                252
7                   Afghanistan         20                  4696                235
8                   Sri Lanka           21                  4808                229
9                   West Indies         24                  5378                224
10                  Bangladesh          20                  4483                224
11                  Nepal               16                  3168                198
12                  Scotland            15                  2901                193
13                  UAE                 18                  3453                192
14                  Zimbabwe            19                  3630                191
15                  Ireland             24                  4455                186
16                  Netherlands         18                  3138                174
17                  PNG                 22                  3834                174
18                  Oman                5                   774                 155
19                  Hong Kong           8                   1213                152
20                  Namibia             16                  2350                147
21                  Singapore           15                  2049                137
22                  Qatar               18                  2262                126
23                  Saudi Arabia        11                  1331                121
24                  Canada              13                  1568                121
25                  Jersey              16                  1834                115
26                  Italy               12                  1326                111
27                  Kuwait              13                  1354                104
28                  Denmark             14                  1438                103
29                  Kenya               12                  1229                102
30                  Bermuda             7                   716                 102
31                  Germany             18                  1527                85
32                  USA                 15                  1208                81
33                  Botswana            19                  1494                79
34                  Ghana               10                  773                 77
35                  Uganda              14                  1069                76
36                  Malaysia            22                  1607                73
37                  Norway              10                  709                 87
38                  Nigeria             10                  708                 71
39                  Austria             11                  778                 71
40                  Guernsey            16                  1127                70
41                  Romania             6                   419                 70
42                  Sweden              8                   465                 58
43                  Tanzania            6                   334                 56
44                  Cayman Islands      8                   430                 54
45                  Spain               12                  602                 50
46                  Philippines         9                   433                 48
47                  France              6                   267                 45
48                  Belize              9                   377                 42
49                  Luxembourg          10                  407                 41
50                  Peru                9                   356                 40
51                  Bahrain             7                   261                 37
52                  Vanuatu             16                  590                 37
53                  Mexico              12                  426                 36
54                  Fiji                6                   210                 35
55                  Panama              9                   291                 32
56                  Belgium             9                   290                 32
57                  Samoa               10                  318                 32
58                  Japan               10                  317                 32
59                  Costa Rica          8                   252                 32
60                  Argentina           12                  370                 31
61                  Hungary             6                   180                 30
62                  Mozambique          12                  352                 29
63                  Thailand            14                  369                 26
64                  Chile               10                  249                 25
65                  Malawi              12                  297                 25
66                  Israel              7                   173                 25
67                  Czech Republic      15                  355                 24
68                  Finland             13                  296                 23
69                  Bhutan              8                   180                 23
70                  South Korea         10                  217                 22
71                  Isle of Man         7                   149                 21
72                  Malta               11                  158                 14
73                  Bulgaria            5                   68                  14
74                  Sierra Leone        5                   61                  12
75                  Brazil              9                   108                 12
76                  Maldives            11                  114                 10
77                  St Helena           12                  109                 9
78                  Gibraltar           8                   35                  4
79                  Myanmar             9                   23                  3
80                  Indonesia           7                   3                   0
81                  China               11                  0                   0
82                  Gambia              6                   0                   0
83                  Swaziland           6                   0                   0
84                  Rwanda              6                   0                   0
85                  Lesotho             6                   0                   0

ICC Women's ODI Team Rankings

11 September 2019
Pos                 Team                Matches             Points              Rating
1                   Australia Women     31                  4594                148
2                   India Women         33                  4018                122
3                   England Women       36                  4368                121
4                   New Zealand Women   33                  3714                113
5                   South Africa Women  42                  4097                98
6                   West Indies Women   28                  2365                84
7                   Pakistan Women      29                  2272                78
8                   Sri Lanka Women     29                  1617                56
9                   Bangladesh Women    13                  632                 49
10                  Ireland Women       10                  211                 21

ICC Women's T20 Team Rankings

30 September 2019
Pos                 Team                Matches             Points              Rating
1                   Australia Women     36                  10343               287
2                   England Women       34                  9448                278
3                   New Zealand Women   32                  8837                276
4                   West Indies Women   34                  8791                259
5                   India Women         39                  9797                251
6                   South Africa Women  34                  8215                242
7                   Pakistan Women      39                  8874                228
8                   Sri Lanka Women     34                  6959                205
9                   Bangladesh Women    38                  7353                194
10                  Ireland Women       30                  5168                172
11                  Thailand Women      52                  8139                157
12                  Zimbabwe Women      28                  4337                155
13                  Scotland Women      23                  3380                147
14                  Nepal Women         19                  2425                128
15                  PNG Women           27                  3415                126
16                  UAE Women           27                  3381                125
17                  Samoa Women         15                  1816                121
18                  Uganda Women        34                  4103                121
19                  Kenya Women         14                  1427                102
20                  Tanzania Women      28                  2755                98
21                  Netherlands Women   23                  1918                83
22                  Indonesia Women     20                  1636                82
23                  Qatar Women         5                   368                 74
24                  Hong Kong Women     30                  2197                73
25                  China Women         28                  1945                69
26                  Namibia Women       39                  2655                68
27                  Japan Women         14                  752                 54
28                  Vanuatu Women       15                  734                 49
29                  Argentina Women     14                  674                 48
30                  Rwanda Women        20                  851                 43
31                  Myanmar Women       10                  424                 42
32                  Malaysia Women      39                  1610                41
33                  USA Women           9                   371                 41
34                  Sierra Leone Women  12                  489                 41
35                  Jersey Women        7                   280                 40
36                  Kuwait Women        8                   309                 39
37                  Germany Women       10                  380                 38
38                  France Women        11                  411                 37
39                  Botswana Women      15                  555                 37
40                  Oman Women          4                   145                 36
41                  Brazil Women        18                  597                 33
42                  Nigeria Women       17                  536                 32
43                  Bhutan Women        7                   167                 24
44                  Denmark Women       5                   98                  20
45                  South Korea Women   9                   158                 18
46                  Mexico Women        6                   100                 17
47                  Mozambique Women    14                  202                 14
48                  Zambia Women        3                   34                  11
49                  Malawi Women        7                   68                  10
50                  Austria Women       6                   54                  9
51                  Belgium Women       5                   43                  9
52                  Singapore Women     15                  119                 8
53                  Chile Women         13                  86                  7
54                  Peru Women          11                  1                   0
55                  Norway Women        8                   0                   0
56                  Lesotho Women       8                   0                   0
57                  Fiji Women          12                  0                   0
58                  Mali Women          6                   0                   0