In [2]:
import pandas as pd
import numpy as np
dc_listings = pd.read_csv("dc_airbnb.csv")

In [3]:
from sklearn.neighbors import KNeighborsRegressor
#knn = KNeighborsRegressor(algorithm='brute')
#knn.fit(split_one[features],split_one[target])
#predictions = knn.predict(split_two[features])
dc_listings["price"] = dc_listings["price"].str.replace("$","").str.replace(",","").astype(float)

In [4]:
cols = ["host_response_rate","host_acceptance_rate", 
        "room_type","latitude","longitude","city","zipcode","state","cleaning_fee","security_deposit"]
dc_listings = dc_listings.drop(cols, axis = 1)
dc_listings.dropna(axis = 0, inplace = True)

In [5]:
dc_listings.head(5)

,host_listings_count,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,26,4,1.0,1.0,2.0,160.0,1,1125,0
1,1,6,3.0,3.0,3.0,350.0,2,30,65
2,2,1,1.0,2.0,1.0,50.0,2,1125,1
3,1,2,1.0,1.0,1.0,95.0,1,1125,0
4,1,4,1.0,1.0,1.0,50.0,7,1125,0

In [6]:
normalize_listing = (dc_listings -dc_listings.mean())/dc_listings.std()
normalize_listing.head(5)

,host_listings_count,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,0.212019,0.401366,-0.249467,-0.439151,0.297345,0.081108,-0.341375,-0.016573,-0.516709
1,-0.190090,1.399275,2.129218,2.969147,1.141549,1.462423,-0.065038,-0.016603,1.706535
2,-0.174005,-1.095499,-0.249467,1.264998,-0.546858,-0.718601,-0.065038,-0.016573,-0.482505
3,-0.190090,-0.596544,-0.249467,-0.439151,-0.546858,-0.391448,-0.341375,-0.016573,-0.516709
4,-0.190090,0.401366,-0.249467,-0.439151,-0.546858,-0.718601,1.316644,-0.016573,-0.516709

In [7]:
normalize_listing["price"] = dc_listings["price"]

In [8]:
normalize_listing=normalize_listing.head(10)

In [9]:
total_rows = normalize_listing.shape[0]
train = normalize_listing[:int(total_rows*.5) ]

test = normalize_listing[int(total_rows*.5):]

In [10]:
features = ["accommodates","bedrooms","bathrooms","beds"]
target = "price"

In [11]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(algorithm='auto')
knn.fit(train[features],train[target])
predictions = knn.predict(test[features])
print(predictions)

[141. 141. 141. 141. 141.]

In [12]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(algorithm='auto')
knn.fit(test[features],test[target])
predictions = knn.predict(train[features])
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(train[target], predictions)
rmse1 = np.sqrt(mse)
rmse1

124.42523859731998