In [133]:
import pandas as pd
import numpy as np

In [134]:
dc_listings = pd.read_csv("dc_airbnb.csv")

In [135]:
dc_listings.head(2)

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC

In [136]:
dc_listings["bedrooms"].value_counts()

1.0     2533
2.0      511
0.0      392
3.0      190
4.0       44
5.0       21
6.0        8
8.0        2
10.0       1
Name: bedrooms, dtype: int64

In [137]:
accom = 3

dc_listings["distance"] = np.abs(dc_listings["bedrooms"]-accom)

In [138]:
dc_listings["distance"].value_counts()

2.0    2554
1.0     555
3.0     400
0.0     190
5.0       2
7.0       1
Name: distance, dtype: int64

In [139]:
np.random.seed(1)
shuffle = np.random.permutation(dc_listings.shape[0])
shuffle

array([ 574, 1593, 3091, ..., 1096,  235, 1061])

In [140]:
dc_listings = dc_listings.loc[shuffle]
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
574,100%,100%,1,2,Private room,1.0,1.0,1.0,$125.00,NaN,$300.00,1,4,149,38.913548,-77.031981,Washington,20009,DC,2.0
1593,87%,100%,2,2,Private room,1.0,1.5,1.0,$85.00,$15.00,NaN,1,30,49,38.953431,-77.030695,Washington,20011,DC,2.0
3091,100%,NaN,1,1,Private room,1.0,0.5,1.0,$50.00,NaN,NaN,1,1125,1,38.933491,-77.029679,Washington,20010,DC,2.0
420,58%,51%,480,2,Entire home/apt,1.0,1.0,1.0,$209.00,$150.00,NaN,4,730,2,38.904054,-77.051991,Washington,20037,DC,2.0
808,100%,95%,3,12,Entire home/apt,5.0,2.0,5.0,$215.00,$135.00,$100.00,2,1825,34,38.906118,-76.988873,Washington,20002,DC,2.0

In [141]:
k = 3

dc_listings = dc_listings.sort_values("distance")
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
1694,100%,NaN,1,6,Entire home/apt,3.0,2.0,4.0,$120.00,NaN,NaN,5,1125,2,38.950685,-77.020355,Washington,20011,DC,0.0
3476,NaN,NaN,1,6,Entire home/apt,3.0,2.5,2.0,$500.00,$100.00,$500.00,2,10,7,38.891613,-76.991073,Washington,20002,DC,0.0
2664,100%,100%,2,8,Entire home/apt,3.0,2.5,3.0,$450.00,$250.00,"$1,000.00",1,1125,9,38.913709,-77.014352,"Washington, D.C.",20001,DC,0.0
3459,92%,94%,30,9,Entire home/apt,3.0,1.5,6.0,$375.00,$200.00,NaN,3,1125,21,38.886046,-77.000361,Washington,NaN,DC,0.0
3017,100%,100%,2,8,Entire home/apt,3.0,1.0,3.0,$129.00,$35.00,$200.00,1,14,138,38.934087,-77.027752,Washington,20010,DC,0.0

In [142]:
dc_listings.shape[0]

3723

In [143]:
dc_listings["price"] = dc_listings["price"].str.replace("$","").str.replace(",","").astype(float)

In [144]:
k = 10
dc_listings["price"].head(10).mean()

320.8

In [145]:
def k_neighbour(data,bed,k):
    np.random.seed(1)
    shuffle = np.random.permutation(len(data))
    data["distance"] = np.abs(data["bedrooms"] - bed)
    data = data.loc[shuffle]
    data = data.sort_values("distance")
    k_neighbor = data["price"].head(k).mean()
    return "The price of {} bedroom apartment is ${}".format(bed,k_neighbor)

In [146]:
k_neighbour(dc_listings,3,10)

'The price of 3 bedroom apartment is $320.8'

In [147]:
k_neighbour(dc_listings,2,10)

'The price of 2 bedroom apartment is $158.1'

In [148]:
k_neighbour(dc_listings,1,10)

'The price of 1 bedroom apartment is $121.0'

In [149]:
k_neighbour(dc_listings,5,10)

'The price of 5 bedroom apartment is $648.2'

In [150]:
dc_listings = pd.read_csv("dc_airbnb.csv")

In [151]:
dc_listings["price"] = dc_listings["price"].str.replace("$","").str.replace(",","").astype(float)

In [152]:
total_data = dc_listings.shape[0]
total_data

3723

In [153]:
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]

In [161]:
train_data = dc_listings.iloc[0:int(total_data*.75)].copy()
test_data = dc_listings.iloc[int(total_data*.75):].copy()

In [162]:
int(total_data*.75)

2792

In [168]:
train_data
def k_neighbour(bed):
    train = train_data
    train["distance"] = np.abs(train["bedrooms"] - bed)
    train = train.sort_values("distance")
    k_neighbor = train["price"].head(10).mean()
    return k_neighbor

In [169]:
k_neighbour(3)

392.8

In [170]:
test_data["predicted_price"] = test_data["bedrooms"].apply(k_neighbour)

In [171]:
test_data[["predicted_price","price"]]

      predicted_price  price
1788            129.0   86.0
659             129.0  117.0
3482            129.0  200.0
3622            129.0   95.0
361             129.0  160.0
2427            218.3  130.0
1220            218.3  175.0
266             129.0  135.0
2967            129.0  125.0
1126            144.9  135.0
2274            129.0   89.0
1020            129.0  169.0
2266            129.0  150.0
2513            129.0   80.0
974             129.0  110.0
771             129.0   99.0
13              105.4   99.0
3616            392.8  325.0
1940            129.0   28.0
1286            129.0  130.0
618             129.0   70.0
3088            129.0   75.0
3430            129.0   85.0
133             129.0  234.0
2084            218.3  195.0
827             295.4  500.0
3231            129.0  500.0
1486            105.4  110.0
777             129.0   30.0
661             218.3  200.0
...               ...    ...
36              129.0  110.0
719             129.0   69.0
3097            105.4   92.0
2616            218.3  400.0
253             218.3  245.0
373             129.0   79.0
376             105.4   96.0
2525            129.0   90.0
746             295.4  500.0
620             129.0  120.0
2653            129.0   75.0
3147            218.3  295.0
2703            129.0   68.0
1107            129.0  160.0
2618            129.0  110.0
302             105.4  140.0
1075            129.0  142.0
721             129.0  100.0
1705            144.9   85.0
2280            129.0  119.0
3158            218.3  249.0
709             129.0  135.0
362             129.0  130.0
2143            392.8  250.0
1565            129.0   40.0
764             129.0   99.0
2173            129.0   79.0
3589            129.0  133.0
733             129.0   58.0
953             129.0  120.0

[931 rows x 2 columns]

* mean absolute error (mae)
* mean square error (mse)
* root mean square error (rmse)

In [173]:
mae = np.abs(test_data["price"]-test_data["predicted_price"]).mean()
mae

57.07132116004298

In [176]:
mse = ((test_data["price"]-test_data["predicted_price"])**2).mean()
mse

12261.111235230965

In [177]:
rmse = np.sqrt(mse)
rmse

110.7299021729495

In [179]:
train_data
def k_neighbour(bed):
    train = train_data
    train["distance"] = np.abs(train["bathrooms"] - bed)
    train = train.sort_values("distance")
    k_neighbor = train["price"].head(10).mean()
    return k_neighbor

In [180]:
test_data["predicted_price"] = test_data["bathrooms"].apply(k_neighbour)

In [181]:
mae = np.abs(test_data["price"]-test_data["predicted_price"]).mean()
mae

66.6702470461864

In [182]:
mse = ((test_data["price"]-test_data["predicted_price"])**2).mean()
mse

15615.636605800208

In [183]:
rmse = np.sqrt(mse)
rmse

124.9625408104373

In [184]:
from sklearn.neighbors import KNeighborsRegressor