In [31]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_table("AmesHousing.txt" , delimiter= "\t")

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [33]:
null_data = data.isnull().sum()
null_data

Order                0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       490
Lot Area             0
Street               0
Alley             2732
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        23
Mas Vnr Area        23
Exter Qual           0
Exter Cond           0
                  ...
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1422
Garage Type        157
Garage Yr Blt      159
Garage Finish      159
Garage Cars          1
Garage Area          1
Garage Qual        159
Garage Cond        159
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2917
Fence             2358
Misc Feature      2824
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 82, dtype: int64

In [34]:
col_wmv = null_data[null_data==0].index
col_wmv

Index([u'Order', u'PID', u'MS SubClass', u'MS Zoning', u'Lot Area', u'Street',
       u'Lot Shape', u'Land Contour', u'Utilities', u'Lot Config',
       u'Land Slope', u'Neighborhood', u'Condition 1', u'Condition 2',
       u'Bldg Type', u'House Style', u'Overall Qual', u'Overall Cond',
       u'Year Built', u'Year Remod/Add', u'Roof Style', u'Roof Matl',
       u'Exterior 1st', u'Exterior 2nd', u'Exter Qual', u'Exter Cond',
       u'Foundation', u'Heating', u'Heating QC', u'Central Air', u'1st Flr SF',
       u'2nd Flr SF', u'Low Qual Fin SF', u'Gr Liv Area', u'Full Bath',
       u'Half Bath', u'Bedroom AbvGr', u'Kitchen AbvGr', u'Kitchen Qual',
       u'TotRms AbvGrd', u'Functional', u'Fireplaces', u'Paved Drive',
       u'Wood Deck SF', u'Open Porch SF', u'Enclosed Porch', u'3Ssn Porch',
       u'Screen Porch', u'Pool Area', u'Misc Val', u'Mo Sold', u'Yr Sold',
       u'Sale Type', u'Sale Condition', u'SalePrice'],
      dtype='object')

In [35]:
df_no_mv = data[col_wmv]

In [36]:
text_cols = df_no_mv.select_dtypes(include = ["object"])
text_cols.columns

Index([u'MS Zoning', u'Street', u'Lot Shape', u'Land Contour', u'Utilities',
       u'Lot Config', u'Land Slope', u'Neighborhood', u'Condition 1',
       u'Condition 2', u'Bldg Type', u'House Style', u'Roof Style',
       u'Roof Matl', u'Exterior 1st', u'Exterior 2nd', u'Exter Qual',
       u'Exter Cond', u'Foundation', u'Heating', u'Heating QC', u'Central Air',
       u'Kitchen Qual', u'Functional', u'Paved Drive', u'Sale Type',
       u'Sale Condition'],
      dtype='object')

In [37]:
t = df_no_mv["Sale Condition"].astype("category")

In [38]:
t.value_counts()

Normal     2413
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
Name: Sale Condition, dtype: int64

In [39]:
t.cat.codes.value_counts()

4    2413
5     245
0     190
3      46
2      24
1      12
dtype: int64

In [40]:
pd.get_dummies(df_no_mv["Sale Condition"]).head(25)

    Abnorml  AdjLand  Alloca  Family  Normal  Partial
0         0        0       0       0       1        0
1         0        0       0       0       1        0
2         0        0       0       0       1        0
3         0        0       0       0       1        0
4         0        0       0       0       1        0
5         0        0       0       0       1        0
6         0        0       0       0       1        0
7         0        0       0       0       1        0
8         0        0       0       0       1        0
9         0        0       0       0       1        0
10        0        0       0       0       1        0
11        0        0       0       0       1        0
12        0        0       0       0       1        0
13        0        0       0       0       1        0
14        0        0       0       0       1        0
15        0        0       0       0       1        0
16        0        0       0       0       1        0
17        0        0       0       0       0        1
18        0        0       0       0       1        0
19        0        0       0       0       1        0
20        0        0       0       0       1        0
21        0        0       0       1       0        0
22        0        0       0       0       1        0
23        0        0       0       0       1        0
24        0        0       0       0       1        0

In [41]:
for col in text_cols:
    dummies =pd.get_dummies(df_no_mv[col])
    df_no_mv = pd.concat([df_no_mv,dummies], axis = 1)
    del df_no_mv[col]

In [ ]:
Year Built   Year Remod/Add

In [43]:
two_col = df_no_mv[["Year Built","Year Remod/Add"]]

In [46]:
year_untill_remodel =[df_no_mv["Year Built"] - df_no_mv["Year Remod/Add"]]

In [49]:
year_untill_remodel

[0        0
 1        0
 2        0
 3        0
 4       -1
 5        0
 6        0
 7        0
 8       -1
 9        0
 10      -1
 11     -15
 12       0
 13       0
 14       0
 15       0
 16     -17
 17       0
 18       0
 19     -10
 20       0
 21       0
 22       0
 23       0
 24     -37
 25       0
 26       0
 27       0
 28       0
 29       0
         ..
 2900    -1
 2901    -1
 2902    -1
 2903     0
 2904     0
 2905     0
 2906     0
 2907     0
 2908     0
 2909     0
 2910     0
 2911   -35
 2912     0
 2913     0
 2914     0
 2915   -10
 2916     0
 2917     0
 2918     0
 2919     0
 2920     0
 2921     0
 2922     0
 2923     0
 2924   -36
 2925     0
 2926     0
 2927     0
 2928    -1
 2929    -1
 Length: 2930, dtype: int64]