In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cars = pd.read_csv("auto.csv")
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [3]:
unique_region =cars["origin"].unique()
unique_region

array([1, 3, 2], dtype=int64)

1 = north america

2 = europe

3 = aisa

In [4]:
cars["cylinders"].unique()

array([8, 4, 6, 3, 5], dtype=int64)

In [5]:
dummy_cyl = pd.get_dummies(cars["cylinders"], prefix = "cyl")
dummy_year = pd.get_dummies(cars["year"], prefix = "year")

In [6]:
cars = pd.concat([cars,dummy_cyl, dummy_year], axis = 1)

In [7]:
cars.drop(["year", "cylinders"] ,axis = 1 , inplace = True)

In [8]:
cars.head()

,mpg,displacement,horsepower,weight,acceleration,origin,cyl_3,cyl_4,cyl_5,cyl_6,...,year_73,year_74,year_75,year_76,year_77,year_78,year_79,year_80,year_81,year_82
0,18.0,307.0,130.0,3504.0,12.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15.0,350.0,165.0,3693.0,11.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18.0,318.0,150.0,3436.0,11.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16.0,304.0,150.0,3433.0,12.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,302.0,140.0,3449.0,10.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
shuffled_index = np.random.permutation(cars.index)
shuffled_index

array([147, 202,  91, 274, 306, 339,  83, 272, 267, 233, 162, 149, 318,
       231, 304, 203, 371,  75, 298, 205, 163, 278, 259, 263,  41, 264,
       221,  59, 145, 124, 218, 353, 239,  78, 225, 137,  22, 246,  37,
       356,  64,  69, 132,   5, 289, 120,  67,  82,  71, 327, 141, 150,
        87,   9, 329, 389,  95, 340,  89,  38, 197,  96, 123, 237, 349,
       214, 188, 369, 183, 159, 224, 310, 333, 193, 377, 232, 338, 359,
        62,  21, 151, 300, 208,  27, 241, 343, 146,  23,   3, 257,  43,
       283, 212,   6, 172, 370, 331,   8,  93, 134,  48, 170, 279, 286,
        39, 133,  30,  42, 360, 158, 112, 236, 171, 265, 366, 284,  26,
        20, 235, 247, 215, 326, 313, 177, 249,  36, 354, 254, 190, 164,
       100, 270, 373,  84, 186,  45, 125, 299,  56, 128, 260, 206, 168,
       130,  13, 180, 324,  68, 350, 207,  92, 288, 229, 142, 245, 113,
       131,  53,  76, 379,  57,  16,  14, 195, 230, 320, 293, 317, 139,
       227, 119, 252, 347, 390,  19, 374, 226, 266, 148, 268,  63, 361,
       209, 258, 325,  65, 383, 255,  94, 341, 192,  50, 122, 305, 248,
       216, 322, 104,  58, 102, 105, 198, 380,  10, 143, 185, 365,  35,
        34, 346, 238,  11, 345, 355,  55, 187,  28, 262, 116,   1, 211,
       240, 101,  15, 348, 169, 156,  88,  17,  72, 127, 108,   0, 387,
       194, 330,  66, 140,   7, 152, 372, 176, 385, 181,  33,  80, 281,
       316,  81, 117, 382, 328, 391, 294,  40,  47, 282, 321, 154, 351,
       115, 323, 311, 213, 103,   4,   2, 220,  51,  31,  60, 184, 312,
       308, 136, 280, 335, 386, 271,  97, 301, 388, 219, 114,  25,  73,
       179,  18,  24, 106, 363, 223,  12, 189, 253,  46, 342, 191, 196,
       107, 378, 173, 138,  74, 344, 126, 364, 273, 217, 290,  70, 358,
       250, 161, 332, 157,  99, 319, 269, 174, 118, 287, 309, 297, 292,
        49, 303, 315, 367, 296, 144, 285, 167, 261,  52, 166, 357,  90,
       175, 362, 376, 199, 201, 337, 295, 381,  79, 178,  85,  54, 384,
        29, 277,  32, 200, 111, 275, 182, 110, 121, 302, 222,  61, 153,
       165, 228, 336, 307, 375,  77, 256, 109, 242, 243, 210, 204, 314,
       129, 352, 160, 251,  44, 276,  86, 234, 368, 244,  98, 155, 291,
       334, 135], dtype=int64)

In [10]:
np.random.seed(123)
shuffled_cars = cars.iloc[shuffled_index]

In [11]:
cars.shape

(392, 24)

In [12]:
no_rows = shuffled_cars.shape[0]

In [13]:
train_index = int(392*.7)

In [14]:
train = shuffled_cars.iloc[:train_index]
test = shuffled_cars.iloc[train_index:]

In [15]:
(shuffled_cars["origin"]==1).unique()

array([False,  True])

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
cols = shuffled_cars.columns

In [18]:
features = []
for c in cols:
    if c.startswith("cyl") or c.startswith("year"):
        features.append(c)

In [22]:
models = {}
for origin in unique_region:
    model = LogisticRegression()
    model.fit(train[features], train["origin"] == origin)