In [3]:
#append
#
employee_uname=[]# this is the e empty list
employee_uname.append("fat")#here,we are adding fat in empty list

employee_uname

['fat']

In [6]:
emp=["manager",12,12000,"faty"]
#this is another list but not empty list,the elements in 
#brakets are called index,indexing starts from zero and end nth.
emp.append("loser")#here, we are adding loser in emp list 
emp

['manager', 12, 12000, 'faty', 'loser']

In [9]:
#list of lists
#here,[1,2,3]is the index according to list of list or according to emp -------indexing value is zero
#[1,2]this is another inder---------indexing value is one
emp=[[1,2,3],[1,2]]#this is another list or this also called the list of lists
emp

[[1, 2, 3], [1, 2]]

In [19]:
employee1=["sameer",20,20000]#this is the list
employee2=["zuraid",20,23000]#this is the list
employee=[[employee1],[employee2]]#this is the list of lists,it shows both lists
employee

[[['sameer', 20, 20000]], [['zuraid', 20, 23000]]]

In [23]:
#in python,last line in a coding always run without print command,
#thats why we use print command in first(if you have more lines for printing,
#you should compulsory applies 
#print command in each line,but not apply in last line because python automatically run the last line)
print employee[0]
employee[1]

[['sameer', 20, 20000]]

[['zuraid', 20, 23000]]

In [28]:
#extend-------------------its means bra krna ya wasi krna
#here, we are compressing two list its means emplyee2 is added in a employee1 and both are combined and made one list
[employee1].extend([employee2])
employee

[[['sameer',
   20,
   20000,
   'zuraid',
   20,
   23000,
   'zuraid',
   20,
   23000,
   'zuraid',
   20,
   23000]],
 [['zuraid', 20, 23000]]]

In [41]:
#here, some examples of extend and append
a=[12,2344,"sam"]
b=[23,3,"khan"]
c=["ali"]
a.append([c])
a

[12, 2344, 'sam', [['ali']]]

In [42]:
a .extend([b])

In [43]:
a

[12, 2344, 'sam', [['ali']], [23, 3, 'khan']]

In [44]:
a=[12,2344,"sam"]
b=[23,3,"khan"]
c=[[a],[b]]
c

[[[12, 2344, 'sam']], [[23, 3, 'khan']]]

In [45]:
a=[12,2344,"sam"]
b=[23,3,"khan"]
c=[[a],[b]]
[a].extend([b])

In [46]:
c

[[[12, 2344, 'sam']], [[23, 3, 'khan']]]

In [47]:
c= a+b
c

[12, 2344, 'sam', 23, 3, 'khan']

In [50]:
a +=b
a

[12, 2344, 'sam', 23, 3, 'khan', 23, 3, 'khan']

In [51]:
c += a and b

In [52]:
c

[12, 2344, 'sam', 23, 3, 'khan', 23, 3, 'khan']